<!DOCTYPE html>
<html>
<head>
    <title>Blood Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="main">
        <h1>🩸 Blood Management System</h1>
        <p>Donate Blood, Save Lives</p>

        <div class="buttons">
            <a href="/register" class="btn">Register Donor</a>
            <a href="/dashboard" class="btn">Dashboard</a>
            <a href="/search" class="btn">Search Blood</a>
            <a href="/donors" class="btn">View Donors</a>
            <a href="/login" class="btn">Admin Login</a>
        </div>
    </div>

</body>
</html>
